footer {
  height: auto;
  width: auto;
  background-color: #11101b;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  grid-area: footer;
}
footer div nav a {
  color: #fefefe;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

header {
  width: 100%;
  padding: 0px 0px;
  height: 80px;
  list-style-type: none;
  background: linear-gradient(90deg, rgba(8, 48, 148, 0.829) 0%, rgb(0, 0, 0) 70%);
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 300000000;
}
header ul li {
  list-style-type: none;
}
header div a {
  text-decoration: none;
  color: #fefefe;
  font-size: 28px;
  font-weight: bold;
}
header .logo a:hover {
  color: #11101b;
  background: #fefefe;
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.card {
  padding: 0;
  margin: 5px;
  width: 250px;
  height: 250px;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
  padding: 20px;
  margin: 20px;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background: #fefefe;
}

main {
  grid-area: main;
  font-family: "roboto, sans-serif";
  background: linear-gradient(90deg, rgba(61, 96, 184, 0.829) 0%, rgb(3, 9, 63) 70%);
}

main h1 {
  padding: 0;
  margin: 0;
  color: #fefefe;
  background-color: #11101b;
}

main img {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  padding: 0px 0px;
  height: 80px;
  list-style-type: none;
  background: linear-gradient(90deg, rgba(8, 48, 148, 0.829) 0%, rgb(0, 0, 0) 70%);
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 300000000;
}
header ul li {
  list-style-type: none;
}
header div a {
  text-decoration: none;
  color: #fefefe;
  font-size: 28px;
  font-weight: bold;
}
header .logo a:hover {
  color: #11101b;
  background: #fefefe;
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.form-label {
  color: #fefefe;
  background-color: #1c1b29;
  border-radius: 5px;
}

.btn {
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.btn:hover {
  color: #11101b;
  background-color: #fefefe;
}

header {
  width: 100%;
  padding: 0px 0px;
  height: 80px;
  list-style-type: none;
  background: linear-gradient(90deg, rgba(8, 48, 148, 0.829) 0%, rgb(0, 0, 0) 70%);
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 300000000;
}
header ul li {
  list-style-type: none;
}
header div a {
  text-decoration: none;
  color: #fefefe;
  font-size: 28px;
  font-weight: bold;
}
header .logo a:hover {
  color: #11101b;
  background: #fefefe;
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.container-fluid nav p {
  color: #fefefe;
  background-color: #1c1b29;
  border-radius: 8px;
}
.container-fluid nav p h2 {
  color: #fefefe;
  background-color: #1c1b29;
  border-radius: 8px;
}

header {
  width: 100%;
  padding: 0px 0px;
  height: 80px;
  list-style-type: none;
  background: linear-gradient(90deg, rgba(8, 48, 148, 0.829) 0%, rgb(0, 0, 0) 70%);
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 300000000;
}
header ul li {
  list-style-type: none;
}
header div a {
  text-decoration: none;
  color: #fefefe;
  font-size: 28px;
  font-weight: bold;
}
header .logo a:hover {
  color: #11101b;
  background: #fefefe;
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

#paquetes {
  padding: 5px;
  margin: 5px;
  box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.2588235294);
  display: flex;
  width: 600px;
  height: 430px;
}
#paquetes img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
#paquetes img:hover {
  cursor: progress;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

header {
  width: 100%;
  padding: 0px 0px;
  height: 80px;
  list-style-type: none;
  background: linear-gradient(90deg, rgba(8, 48, 148, 0.829) 0%, rgb(0, 0, 0) 70%);
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 300000000;
}
header ul li {
  list-style-type: none;
}
header div a {
  text-decoration: none;
  color: #fefefe;
  font-size: 28px;
  font-weight: bold;
}
header .logo a:hover {
  color: #11101b;
  background: #fefefe;
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

header {
  width: 100%;
  padding: 0px 0px;
  height: 80px;
  list-style-type: none;
  background: linear-gradient(90deg, rgba(8, 48, 148, 0.829) 0%, rgb(0, 0, 0) 70%);
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 300000000;
}
header ul li {
  list-style-type: none;
}
header div a {
  text-decoration: none;
  color: #fefefe;
  font-size: 28px;
  font-weight: bold;
}
header .logo a:hover {
  color: #11101b;
  background: #fefefe;
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.container-fluid nav p {
  color: #fefefe;
  background-color: #1c1b29;
  border-radius: 8px;
}
.container-fluid nav p h2 {
  color: #fefefe;
  background-color: #1c1b29;
  border-radius: 8px;
}

.card {
  width: 200px;
  height: 200px;
}

/*# sourceMappingURL=styles.css.map */
