



.card{
    width: 200px;
    height: 200px;
}
.form-label {
    color: #fefefe;
    background-color: #1c1b29;
    border-radius: 5px;
}
.btn{
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.btn:hover{
    color: #11101b;
    background-color: #fefefe;
    
}


div article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div article img{
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    margin: 10px;

}

 #paquetes{
    padding: 5px;
    margin: 5px;
    box-shadow: 4px 7px 7px 0px #00000042;
    display: flex;
    width: 600px;
    height: 430px;
}

 #paquetes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

 #paquetes img:hover{
    cursor: progress;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


#bannerBienvenida{
    
    background-repeat: none;
    background-size: cover;
    padding: 500px 0px;
}
#bannerBienvenida h1{
   
    font-family:'roboto', cursiva;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 30px;
}
.fondo-transparente{
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75));
}
.main-paquetes{
    padding: 0;
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#bannerPaquetes h1{
    color: #ffffff;
}


#bannerHoteles{
    
    background-repeat: none;
    background-size: cover;
    
}
.fondo-transparente h1{
    color: #fefefe;
    padding: 5px;
    margin: 0; 
}

  .fondo-transparente p{
    color: #fefefe;
    padding: 5px;
    margin: 5px;
  }  
#bannerHoteles p{
        margin:0;
        padding: 0;
        font-family:'roboto', cursiva;
        color: #ffffff;
        font-size: 30px;
        margin-bottom: 30px;
}

#bannerProvincias{
   
    background-repeat: none;
    background-size: cover;
    padding: 300px 0px;   
}
#bannerProvincias h1 {
    padding: 0 10px;
    margin: 0;
    color: #ffffff;
    font-family: 'Water+Brush', cursiva;
   
}

#bannerProvincias p{
    color: #ffffff;
    padding: 10px 10px;
    margin: 0;
}
.imagen-provincias{
    padding: 0;
    margin: 0;

}






@media only screen and (max-width:1920px) {
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width:1100px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width:990px) {

    body {
        grid-template-rows: 80px auto 50px;
    }
    header{
   height: auto;
      flex-direction: row;
      align-items: center;
}
 main{
    padding: 24px 16px;
 }

   
   footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

   }

    .hamburger {
       display: block;
       cursor: pointer;
      
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
      
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow:hidden ;
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity:1 ;
    
    }
    .nav-bar ul li a{
        margin-bottom: 12px;  
        background-color:  #1c1b29;
    }
    .imagen-hoteles img{
        padding: 0;
        margin: 0;
        max-width: 100%;
        height: auto;
    }

}






