$color-primario: linear-gradient(
    90deg,
 rgba(8, 48, 148, 0.829)0%,
 rgb(0, 0, 0)70%
 );
$color-secundario: #1c1b29 ;
$color-texto: #ffffff;
$color-terciario: #1500ff;
$color-footer: #000000;

$colores: (
    secundario:#1c1b29,
    texto: #ffffff,
    terciario:#1500ff,
    footer: #000000,
)

$tipografia-titulos: "water brush";
$tipografia-parrafos: "roboto" ;