
.container-fluid nav p{
    color: #fefefe;
    background-color: #1c1b29;
    border-radius: 8px;
    h2{
        color: #fefefe;
        background-color: #1c1b29;
        border-radius: 8px;
    }
}
.card{
    width: 200px;
    height: 200px;
}
.fondo-hoteles p{
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75))

}