
.main-paquetes{
    padding: 10px;
    margin: auto;
    box-shadow: 4px 7px 7px 0px #00000042;
    display: flex;
    align-items: center;
    width: 80%;
    height: 430px;
    img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
        object-fit: cover;
        &:hover{
            cursor: progress;
            width: 300px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}
.main-paquetes{
    padding: 0;
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
p{
    color: $color-texto;
}

.promos {
    margin: 10px;
    padding: 10px;
    color: $color-texto;
    font-family: $tipografia-parrafos;
}
