

    #bannerProvincias{
   
        background-repeat: none;
        background-size: cover;
        padding: 300px 0px;   
        h1 {
            padding: 0 10px;
            margin: 0;
            color: #ffffff;
            font-family: 'Water+Brush', cursiva;
           
        }
        p{
            color: #ffffff;
            padding: 10px 10px;
            margin: 0;
        }
    }

    .imagen-provincias{
        padding: 0;
        margin: 0;
    
    }
    

