footer{
    height: auto;
    width: auto;
    background-color: #11101b;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    grid-area: footer;
    div nav a{
        color: #fefefe;
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        
    }
}