main{
    margin: 0;
    padding: 20px;
    max-height: auto;
    min-height: 95vh;
    grid-area: main;
    font-family: "roboto, sans-serif"; 
    background: #11101b ;
    h1 {
        padding: 30px;
        margin: 30px;
        color: #fefefe;
        background-color: #11101b;
        align-items: center;
        text-align: center;
    } img {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        
    }
    
}





.card {
    padding: 0;
    margin: 5px;
    width: 250px;
    height: 250px;
}

.hamburger{
display: none;


}
.nav-bar ul{
    display: flex;
    padding: 20px;
    margin: 20px;
    li a {
        display: block;
        color:#fefefe ;
        text-decoration: none;
        font-size: 20px;
        padding: 10px 25px;
        border-radius: 50px;
        transition: 0.2s;
        margin: 0 5px;
        &:hover{
            color: #11101b;
            background: #fefefe;
        }
    }
}


main img {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}